.rightTag {
  clip-path: polygon(100% 0%, 61% 48%, 100% 100%, 0 99%, 0% 50%, 0 0);
  background-color: rgb(217, 83, 210);
  height: 60px;
  width: auto;
}
.leftTag {
  clip-path: polygon(81% 0%, 80% 99%, 100% 154%, 0 101%, 21% 50%, 0 0);
  background-color: rgb(217, 83, 210);
  height: 60px;
  width: auto;
  margin-inline-start: 94%;
}
.leftTag1 {
  clip-path: polygon(81% 0%, 80% 99%, 100% 154%, 0 101%, 21% 50%, 0 0);
  background-color: rgb(217, 83, 210);
  height: 60px;
  width: auto;
}
.compnyName {
  background-color: rgb(217, 83, 210);
  height: 52px;
  width: 25%;
  margin: 21px auto;
  border-radius: 7px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding-top: 5px;
}
.wellComePanel {
  padding: 0px 66px 0px 122px;
  text-align: center;
}
.dotted-line {
  border: 2px dashed rgb(217, 83, 210);
  width: 70%;
  height: 0;
  margin: 40px auto;
}
.hedline {
  text-align: center;
  font-size: large;

  font-family: sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 100px;
}
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
  font-family: "Russo One", sans-serif;
  width: 100%;
  height: 100%;
}
svg text {
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #a0319c;
  font-size: 56px;
}
@keyframes stroke {
  0% {
    fill: rgba(204, 91, 194, 0);
    stroke: rgba(160, 49, 156, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(204, 91, 194, 0);
    stroke: rgba(160, 49, 156, 1);
  }
  80% {
    fill: rgba(204, 91, 194, 0);
    stroke: rgba(160, 49, 156, 1);
    stroke-width: 3;
  }
  100% {
    fill: rgba(204, 91, 194, 1);
    stroke: rgba(160, 49, 156, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: #ffffff;
}

.wrapper {
  background-color: #ffffff;
}
.team1 {
  background-color: rgb(217, 83, 210);
  height: 45px;
  width: 30%;
  margin: 21px auto;
  border-radius: 7px;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
  margin-block-end: 5%;
}
.teamMembersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust height as needed */
}

.data {
  text-align: center;
  margin-top: 20px;
}
.img1 {
  margin-inline: auto;
}

img {
  width: 110px;
  height: 110px;
  box-shadow: inset 8px 9px 25px -8px rgba(0, 0, 0, 0.57);
  border-radius: 50%;
  margin-top: px;
  /* margin: auto; */
}
.cd {
  /* border: 1px rgb(192, 63, 63); */
  margin-bottom: 10px;
  border: none !important;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
